.filter {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }

  &__input {
    width: 90%;
    outline: none;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
  }
}

.darkTheme {
  .filter__input {
    background-color: #585555;
    color: #faf6f6;
  }
}
