.message {
  display: flex;
  flex-direction: column;
}

.MessageSent,
.MessageReceived {
  color: white;
  width: max-content;
  max-width: 80%;
  border-radius: 20px;
  padding: 10px;
  margin: 0.5% 0;
}

.MessageSent {
  align-self: flex-end;
  background-color: #207dff;
}
.MessageReceived {
  align-self: flex-start;
  background-color: #161616;
}

.timeSent,
.timeReceived {
  font-size: 10px;
  color: #c0c0c0;
}

.timeSent {
  align-self: flex-end;
}

.timeReceived {
  align-self: flex-start;
}
