.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 20px 0;
  margin: 0;
  width: 100%;
  background-color: #000000;
  list-style: none;

  &__link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1rem;
    transition: all 250ms ease-in-out;

    &:hover {
      color: #1db4f0;
    }
  }
}
