.chatRoom {
  background-color: #fafafa;
}

.InfUpChat {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  background-color: #ececec;
  border-bottom: 1px solid #cfcece;

  @media screen and (max-width: 767px) {
    padding: 10px;
  }

  &__img {
    margin-right: 15px;
  }

  &__btn {
    font-size: 30px;
    margin-left: auto;
  }
}

.chat {
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }

  ::-webkit-resizer {
    width: 0px;
  }

  ::-webkit-scrollbar {
    width: 0px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 100vh;
    overflow: scroll;
    padding-bottom: 175px;
  }
  &__send {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ececec;
    border-top: 1px solid #cfcece;
    position: fixed;
    bottom: 0px;
    right: 0px;
    left: 30%;
    padding: 20px;
    z-index: 1;

    @media screen and (min-width: 767px) and (max-width: 1200px) {
      left: 40%;
    }

    @media screen and (max-width: 767px) {
      left: 0;
      padding: 15px;
    }
  }

  &__input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border-radius: 25px;
  }

  &__btn {
    position: absolute;
    right: 29px;
    top: 25px;
    background-color: transparent;

    @media screen and (max-width: 767px) {
      right: 25px;
      top: 19px;
    }
  }
}
