.contacts {
  position: relative;
  ::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }

  ::-webkit-resizer {
    width: 1px;
  }

  ::-webkit-scrollbar {
    width: 2px;
  }

  &__header {
    position: relative;
    @media screen and (max-width: 767px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    font-size: 20px;
    color: #3e83c4;
    padding: 25px 0 25px 10px;

    @media screen and (max-width: 767px) {
      padding: 10px 0 10px 10px;
    }
  }
  &__list {
    list-style: none;
    overflow-y: scroll;
    height: 100vh;
  }
  &__item {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -5%;
      width: 115%;
      height: 1px;
      background-color: #ece7e7;
    }

    .active {
      background-color: #9ac8f3;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;

    @media screen and (max-width: 767px) {
      padding: 10px;
    }
  }

  &__account {
    display: flex;
    align-items: center;
  }

  &__img {
    border-radius: 25px;
    margin-right: 10px;
  }

  &__name {
    margin-bottom: 6px;
  }
}

.themeBtn {
  position: absolute;
  top: 18px;
  right: 20px;

  @media screen and (max-width: 767px) {
    position: relative;
    top: 10px;
    right: 10px;
  }
}

.darkTheme {
  background-color: #242222;

  .contacts {
    &__account {
      color: #faf6f6;
    }

    &__data {
      color: #faf6f6;
    }
  }
}
